<!--to search template-->
<div [hidden]="this.nbbDataService.searchscenario">
    <label for="sel1">Search Existing Templates:</label>
    <div class="form-group row">
        <div class="col-xs-10">
            <input list="browsers" tabindex="1" class="form-control" title="select project" id="pro" name="pro" #proj="ngModel" [(ngModel)]="this.nbbDataService.sname" ngModel>
            <datalist id="browsers">
                <option *ngFor="let level of this.nbbDataService?.allscenarios?.scenariosList" [ngValue]="level">{{level}}</option>
            </datalist>
        </div>
        <div class="col-xs-2">
            <button type="submit" class="btn btn-primary" (click)="onTempSelect(proj.value)">
                <span class="glyphicon glyphicon-search"></span> Search
            </button>
        </div>
    </div>
    <div *ngIf="this.nbbDataService.noTemp === 'undefined'" class="alert alert-danger alert-dismissable">
        <a (click)="onClosenoTemp(); " href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
        <strong>Info!</strong> Template does not Exists!
    </div>
</div>
<!--  to create new template -->
<div [hidden]="this.nbbDataService.showscreen">
    <h4 style="text-align: left; color: #2486b5; font-weight: bold;">Create Template:</h4>
    <form #newUser="ngForm" role="form" data-toggle="validator" ngNativeValidate>
        <div class="form-group ">
            <span class="glyphicon glyphicon-asterisk" style="color:red;font-size: 10px;"></span>
            <label for="sel1">Select Scenario:</label>
            <select class="form-control" title="select project" id="proj" name="proj" type="number" #proj="ngModel" [(ngModel)]="this.nbbDataService.sname"  ngModel required>
                <option *ngFor="let level of this.nbbDataService?.test?.scenariosList" [ngValue]="level">{{level}}</option>
            </select>
        </div>

        <div *ngFor="let item of this.nbbDataService.officeLIST">
            <div *ngIf=" item.officeID == 1" class="fif">
                <input #off1 type="checkbox" id="off" name="off1" value="1" [(ngModel)]="item.checked" (ngModelChange)="onCheck($event,item.officename)">
                <label>{{item.officename}}</label>
            </div>

            <!--<div *ngIf="item.officeID== 2" class="fif2">
                <input #off type="checkbox" id="off" name="off" value="2" [(ngModel)]="item.checked" (ngModelChange)="onCheck($event,item.officename)">
                <label>{{item.officename}}</label>
            </div>-->
        </div>

        <br>
        <div *ngIf="this.nbbDataService?.alert == 'false'" class="alert alert-info alert-dismissable">
            <a href="#" class="close" data-dismiss="alert" aria-label="close" (click)="onClosealert()">×</a>
            <strong>Info!</strong> Check the check box!
        </div>
        <br>
       <!-- <div class="form-group">
            <span class="glyphicon glyphicon-asterisk" style="color:red;font-size: 10px;"></span>
            <label for="subject">Subject:</label>
            <input type="text" class="form-control" name="subject" id="sub" #sub="ngModel" [(ngModel)]="this.nbbDataService.ssubject" required>
        </div>
        <div class="form-group">
            <span class="glyphicon glyphicon-asterisk" style="color:red;font-size: 10px;"></span>
            <label for="inbox">Message:</label>
            <textarea class="form-control " type="text" name="inbox" id="in" #in="ngModel" [(ngModel)]="this.nbbDataService.sinbox" contenteditable="true" [mention]="this.nbbDataService?.avltag" [mentionConfig]="{triggerChar:'$',maxItems:10,labelKey:'name'}" style="border:1px lightgrey solid;height:170px;overflow:auto"
                required></textarea>
            <span>
                <strong>Note:</strong> Press '$' to access "avilable tags".</span>
        </div>-->

        <button [disabled]="!newUser.valid" type="submit" class="btn btn-primary" (click)="onClick(proj.value);">Save Changes</button>
        <div *ngIf="this.nbbDataService?.res === 'success'" class="alert alert-success alert-dismissable">
            <a (click)="onClose(); " href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
            <strong>Info!</strong> Operation is success!
        </div>
        <div *ngIf="this.nbbDataService?.res === 'failed'" class="alert alert-danger alert-dismissable">
            <a (click)="onClose(); " href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
            <strong>Info!</strong> Operation is failed!
        </div>
        <div *ngIf="this.nbbDataService?.res === 'alreadyExist'" class="alert alert-warning alert-dismissable">
            <a (click)="onClose(); " href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
            <strong>Info!</strong> Template already Exists!
        </div>
    </form>
</div>


<!-- for existing templates-->
<div [hidden]="this.nbbDataService.showavilscreen">
    <h4 style="text-align: left; color: #2486b5; font-weight: bold;">Edit Template:</h4>
    <form #newUser1="ngForm" role="form" data-toggle="validator" ngNativeValidate>
        <div class="form-group ">
            <label for="sel1">Select Scenario:</label>
            <select class="form-control" title="select project" id="proj" name="proj" type="number" #proj="ngModel" [(ngModel)]="this.nbbDataService.sname"  ngModel required disabled>
                <option *ngFor="let level of this.nbbDataService?.test?.scenariosList" [ngValue]="level">{{level}}</option>
            </select>
        </div>

        <div *ngFor="let item of this.nbbDataService.officeLIST">

            <div *ngIf=" item.officeID == 1" class="fif">
                <input #off1 type="checkbox" id="off1" name="off1" value="1" [(ngModel)]="item.checked" (ngModelChange)="onCheck($event,item.officename)">
                <label>{{item.officename}}</label>
            </div>

            <!--<div *ngIf="item.officeID== 2" class="fif2">
                <input #off type="checkbox" id="off" name="off" value="2" [(ngModel)]="item.checked" (ngModelChange)="onCheck($event,item.officename)">
                <label>{{item.officename}}</label>
            </div>-->
        </div>

        <br>
        <div *ngIf="this.nbbDataService?.alert1 == 'false'" class="alert alert-info alert-dismissable">
            <a href="#" class="close" data-dismiss="alert" aria-label="close" (click)="onClosealert()">×</a>
            <strong>Info!</strong> Check the check box!
        </div>

        <br>
       <!-- <div class="form-group">
            <label for="subject">Subject:</label>
            <input type="text" class="form-control" name="subject" id="sub" #sub="ngModel" [(ngModel)]="this.nbbDataService.subject">
        </div>
        <div class="form-group">
            <label for="inbox">Message:</label>
            <textarea class="form-control " type="text" name="inbox" id="in" #in="ngModel" [(ngModel)]="this.nbbDataService.message" contenteditable="true" [mention]="this.nbbDataService?.avltag" [mentionConfig]="{triggerChar:'$',maxItems:10,labelKey:'name'}" style="border:1px lightgrey solid;height:170px;overflow:auto"></textarea>
            <span>
                <strong>Note:</strong> Press '$' to access "avilable tags".</span>
        </div>-->

        <button type="submit" class="btn btn-primary" (click)="onEdit(proj.value);">Save Changes</button>
        <button type="submit" class="btn btn-primary" (click)="onDelete(proj.value);this.nbbDataService.clear();">Delete Template</button>
    </form>



    <div *ngIf="this.nbbDataService?.res === 'success'" class="alert alert-success alert-dismissable">
        <a (click)="onClose(); " href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
        <strong>Info!</strong> Operation is success!
    </div>
    <div *ngIf="this.nbbDataService?.res === 'failed'" class="alert alert-danger alert-dismissable">
        <a (click)="onClose(); " href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
        <strong>Info!</strong> Operation is failed!
    </div>
    <div *ngIf="this.nbbDataService?.res === 'alreadyExist'" class="alert alert-warning alert-dismissable">
        <a (click)="onClose(); " href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
        <strong>Info!</strong> Template already Exists!
    </div>

</div>
