.button {
    background-color: #CCCCCC;
    border-style: solid;
    border-color: #666666;	
    display: inline-block;
    color: #160000;
    padding: 18px 57px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-weight:bold;
    border-radius: 10px;
    font-family:Verdana;	

}
.btn-info{

color:#333!important;
font-weight: bold !important;

}



.btn-5 {
  border: 0 solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, 0.5);
  outline-offset: 0px;
  text-shadow: none;
  -webkit-transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}

.btn-5:hover {
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388;
}


.samplediv{
    text-align: center;
}
/*#update{
    margin-left:100px;
}
#delete{
    margin-left:100px;
}*/

.topper {
    background: rgba(0, 0, 0, 0) url("../top_shade.png") repeat-x scroll 0 0;
    height: 100px;
}

.logo {
    height: 100px;
    width: 228px;
     margin-top: -41px;	
}

.center {
   /* margin: 0 auto;*/
    width: 940px;
}

.header{
padding-top:20px;

}

.utext{
padding-left:150px;
}

.insertpage{
 height: 100px;
    width: 228px;
}


.hoverBtn{
   backface-visibility: hidden;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    display: inline-block;
    position: relative;
    transform: translateZ(0px);
    transition-duration: 0.3s;
    transition-property: color;
    vertical-align: middle;

}
.hvr-bounce-in {
    backface-visibility: hidden;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    display: inline-block;
    transform: translateZ(0px);
    transition-duration: 0.5s;
    vertical-align: middle;
}

.aa{
background-color: #4caf50;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    color: #ffffff;
}
.tblstyle{
	border: 5px solid #183a7d; 
	padding: 5% 25% 5%; 
	background-color:#F3F1F1;
	border-spacing:15px;
}
#tablestyle{
	border: 5px solid #183a7d;
    padding: 30px 264px 5px;
    padding-left: 300px;
    margin-top: 10px;
    background-color: #F3F1F1;
    border-spacing: 15px;
}

#tableDesc{
  padding: 30px 260px 5px; 
  border-spacing:15px;
}

#tableContent{
  border: 5px solid #183a7d; 
  background-color:#F3F1F1;
}

.tbltitle{
    font-size:20px;
    font-family:Verdana;
    color:#45494E;
    text-align:center;
    font-weight:bold;
}
.smallbutton
{
	 color: #160000;
     padding: 7px 15px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 14px;
     margin: 2px 1px;
     cursor: pointer;
     
	 background-color: #CCCCCC;
     border-style: solid;
     border-color: #666666;
     font-family:Verdana;
}
.dropdownstyle
{
     font-family:Verdana;
     font-size:14px;
}
.textstyle
{
	 color:#1C59AF;
	 font-weight:bold;
	
}
#updatetable{
font-family:Verdana;
border: solid 3px #7f7f7f;
font-size:small;
padding:5px;
}
#Desctable
{
font-family:Verdana;
border: solid 3px #7f7f7f;
font-size:small;
}
.login {
  background: #eceeee;
  border: 1px solid #42464b;
  border-radius: 6px;
  height: 240px;
  margin: 20px auto 0;
  width: 298px;
}
.logintext {
  background:  center left no-repeat,linear-gradient(top, #d6d7d7, #dee0e0);
  border: 1px solid #a1a3a3;
  border-radius: 4px;
  box-shadow: 0 1px #fff;
  box-sizing: border-box;
  color: #696969;
  height: 39px;
  margin: 31px 0 0 29px;
  padding-left: 30px;
  transition: box-shadow 0.3s;
  width: 240px;
}

.newsmallbutton
{
         color: #160000;
     padding: 7px 15px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 14px;
     margin: 2px 1px;
     cursor: pointer;

         background-color: #CCCCCC;
     border-style: solid;
     border-color: #666666;
     font-family:Verdana;
     position:fixed;
     right:50px;
     top:75;
}

