#foo {
	background-color: #d9edf7;
	color: #337ab7;
	padding: 15px;
	position: fixed;
	height: 40px;
	bottom: 0;
	width: 100%;
	left: 0;
	text-align: center;
}
 #head
  {
  position: fixed;
    width: 100%;
    z-index: 99999;
    top: 0;
    }
     
  